<% if (theme.site_footer) { %>
  <%
    var layout = theme.site_footer.layout;
    if (config.theme_config && config.theme_config.footer && config.theme_config.footer.layout) {
      layout = config.theme_config.footer.layout;
    }
    let theme_version = theme.info.theme_version
    // 未发布的 alpha 版本
    if (theme_version.indexOf("alpha")!=-1) {
      theme_version = "dev"
    }
  %>
  <footer class="site-footer"  itemscope itemtype="http://schema.org/WPFooter">
    <div id="footer_icon">
      <div class="icon_left">
        <a class="icon_link" href="https://travellings.cn" title="开往-随机跳转到另一个加入开往的网页"><i class="fa-solid fa-subway fa-fw"></i></a>
        <a class="icon_link" href="https://github.com/qystudio0" title="我的Github主页"><i class="fa-brands fa-github fa-fw"></i></a>
        <a class="icon_link" href="/about" title="关于本站"><i class="fa-solid fa-info-circle fa-fw"></i></a>
      </div>
      <div class="icon_left">
        <a class="icon_link" href="https://qystu.cc/atom.xml" title="网站订阅"><i class="fa-solid fa-compass fa-fw"></i></a>
        <a class="icon_link" href="https://qm.qq.com/cgi-bin/qm/qr?k=TjbIk84fDNYu4UAzA4xDzRk53hkKABh_&authKey=St%2F%2B%2FHaVkOvMkzZAqWXC5jfovqmrVqIStz5FL9o2oOCxZYAVth5ywkwnShxmf8X%2B&noverify=0&group_code=660414614" title="联系QQ"><i class="fa-brands fa-qq fa-fw"></i></a>
        <a class="icon_link" href="mailto:admin@qystu.cc" title="联系邮箱"><i class="fa-solid fa-envelope fa-fw"></i></a>
      </div>
    </div>
    <div id="crl-footer">
      <div class="footer-group">
          <h3 class="footer-title">直达</h3>
          <div class="footer-links">
              <a class="footer-item" href="/talk">我的说说</a>
              <a class="footer-item" href="/messages">网站留言</a>
              <a class="footer-item" href="/archives">文章归档</a>
              <a class="footer-item" href="about/#网站数据">站点统计</a>
              <a class="footer-item" href=""></a>
          </div>
      </div>
      <div class="footer-group">
          <h3 class="footer-title">分类</h3>
          <div class="footer-links">
            <a class="footer-item" href="/tags/博客/">博客</a>
            <a class="footer-item" href="/tags/系统/">系统</a>
            <a class="footer-item" href="/tags/前端/">前端</a>
            <a class="footer-item" href="/tags/图床/">图床</a>
          </div>
      </div>
      <div class="footer-group">
          <h3 class="footer-title">其他</h3>
          <div class="footer-links">
            <a class="footer-item" href="/privacy">隐私协议</a>
            <a class="footer-item" href="https://qystu.cc/sitemap.xml">网站地图</a>
            <a class="footer-item" href="https://qystu.cc/atom.xml">我的订阅</a>
            <a class="footer-item" href="/join">加入我们</a>
          </div>
      </div>
      <div class="footer-group" id="friend-links-in-footer">
        <h3 class="footer-title">友链</h3>
        <div class="footer-links">
          <a class="footer-item" href="">随机加载中...</a>
          <a class="footer-item" href="">随机加载中...</a>
          <a class="footer-item" href="">随机加载中...</a>
          <a class="footer-item" href="/links">查看更多</a>
        </div>
      </div>
    </div>
    <div id="footer-bottom">
      <div class="footer-bottom-links">
          <div class="footer-bottom-left">
              <div id="footer-bottom-tips">©2020 - 2022 By QY Studio</div>
          </div>
          <div class="footer-bottom-right">
              <a class="footer-bottom-link">|</a><a class="footer-bottom-link" href="https://vlts.cc/" title="主题">Volantis</a>
              <a class="footer-bottom-link">|</a><a class="footer-bottom-link" href="https://beian.miit.gov.cn/" title="备案号">沪ICP备2021023713号-16</a>
          </div>
      </div>
    </div>
    <!-- Custom Files footer begin-->
    <%- volantis_inject('footer') %>
    <!-- Custom Files footer end-->
  </footer>
<% } %>
