<script>
  volantis.layoutHelper("page-plugins",`<div id="artitalk_main"></div>`)
</script>
<script>
  volantis.import.jQuery().then(()=>{
    volantis.js("<%= theme.cdn.artitalk %>").then(()=>{
      new Artitalk(<%- JSON.stringify(theme.plugins.artitalk) %>)
    })
  })
</script>
<style>
  #artitalk_main #lazy {
    background: transparent !important;
  }
</style>
              <!-- 自定义样式 -->
              <style>
                .cbp_tmtimeline>li:nth-child(odd) .cbp_tmlabel {
                  background: linear-gradient(45deg, rgb(109, 208, 242) 15%, rgb(245, 154, 190) 85%);
                  color: white;
                }
                .cbp_tmtimeline>li:nth-child(odd) .cbp_tmlabel:after {
                  border-right-color:  rgb(109, 208, 242)
                }
                .cbp_tmtimeline>li .cbp_tmlabel {
                  background: linear-gradient(45deg, rgb(109, 208, 242) 15%, rgb(245, 154, 190) 85%);
                  color: white;
                }
                .cbp_tmtimeline>li .cbp_tmlabel:after {
                  border-right-color:  rgb(109, 208, 242)
                }
                .button {
                  background: linear-gradient(45deg, rgb(109, 208, 242) 15%, rgb(245, 154, 190) 85%);
                  color: white;
                }
              </style>
              <!-- 自定义样式.end -->
