<%- partial('_pre') %>
<div id="l_main" class='<%- page.sidebar == false ? ' no_sidebar' : '' %>'>
  <%- partial('_partial/archive') %>
</div>
<%- partial('_partial/side') %>
<script defer src="https://blog.661111.gq/ispeak/bb.js"></script>
<script defer src="https://blog.661111.gq/ispeak/timeago.min.js"></script>
<link rel="stylesheet" href="https://blog.661111.gq/ispeak/bb.css"></style>
